html, body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2em;
}

#page-numbers {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

#page-images {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination-item {
  width: 100%;
  height: 500px;
}