.breadcrumb-separator {
    color: #333;
    margin: auto 6px;
    user-select: none;
    list-style-type: none;
  }

  .breadcrumb-item {
    list-style-type: none;  
  }
  
  .breadcrumb-collapser {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  
  .breadcrumb-collapser svg {
    cursor: pointer;
    transition: all 0.2s ease-out;
    color: #000;
    width: 25px;
    height: 25px;
  }
  .breadcrumb-collapser svg:hover,
  .breadcrumb-collapser svg:focus {
    color: #999;
    transform: scale(1.15);
  }
  
  .breadcrumb-collapser svg:active {
    color: #333;
  }

  a {
    text-decoration: none;
    font-weight: 400;
    color: #424548;
  }
  
  a:hover {
    color: #1da2b3;
  }

  ol {
    list-style: none;
    display: flex;
    align-items: center;
  }
