.loader-button {
    border: 5px solid red;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    width: 190px;
    text-align-last: center;
    margin: 20px;
    background-color: rgb(221, 221, 221);
}

.loader-button p {
    margin: 10px;
}