input {
    border: 5px solid red;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.comment-textarea {
    width: 400px;
}

.comment-title {
    padding-left: 20px;
}

.courses-select {
    margin: 0 auto;
    font-size: 30px;
    border: 3px solid currentColor;
    margin-bottom: 20px;
    width: 200px;
    text-align-last: center;
}
