body {
  margin: 0;
  background: snow;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: cornsilk;
  height: 20px;
  padding: 20px;
}

.courses-names {
 color: crimson;
 font-size: 40px;
 text-align: center;
}

.courses-list {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  padding: 50px;
}

.courses-list .MuiCardMedia-root {
  width: 350px;
  height: auto;
}

.courses-item {
  padding: 20px;
  min-width: 350px;
}

.about-section h1 {
 text-align: center;
}

.gallery-section h1 {
  text-align: center;
}