.footer{
background-color: gray;

width: 100%;
flex: 0 0 auto;
height: 100px;
}

.footer-tools{
display: flex;
flex-direction: row;
justify-content: space-around;
background: lightgray;
height: 100px;
width: 100%;
}

.footer-tool{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 350px;
}

.fab {
    height: 100px;
    width: 50px; 
}

.footer-line {
    background: crimson;
    height: 50px;
    width: 100%;
}

.footer-image {
    height: 100px;
    width: 100px;
}

.footer-title {
    padding: 28px; 
}